@inherits LayoutComponentBase

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"
                Timeout="4"
                ShowProgressBar="true" />

<div class="vh-100 d-flex justify-content-center align-items-center">
    @Body
</div>

@*<div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>*@
